@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.navbar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.nav-logo{
    font-family:"Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap:20px;
    font-family:"Montserrat", sans-serif;
}

.active{
    font-weight: 700;
    color:#555;
}

.not-active{
    font-weight: 400;
    color: #888;
}